@font-face {
    font-family: 'compass';
    src: url(../Ressources/fonts/Fast\ Hand.otf);
    font-weight: normal;
    font-size: normal;
}

/* Application de la police sur tous les titres */
h1 {
    font-family: 'compass';
}

p {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #E0E0E0;
}

/* En-tête */
header {
    border-radius: 10px 10px 0 0;
    background-color: #003366;
    color: #FF9900;
    padding: 20px 0;
}

header .container {
    /* classe flexbox, qui contient des blocks et gère leurs disposition . Elle contient un titre et un nav */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    font-size: 2em;
    letter-spacing: 5px;
    ;
}


/* header + nav */
header h1 a {
    font-size: 1, 5em;
    color: #FF9900;
    text-decoration: none;
}

/* Fin En-tête */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Main */
.hero {
    background: linear-gradient(to top, #E0E0E0, #003366 100%);
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #FF9900;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
}

.cta-button:hover {
    background-color: #c47602;
}

/* Section Produits */
.products {
    padding: 40px 20px;
    background-color: #E0E0E0;
    max-width: 1200px;
    margin: auto;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.products a {
    margin-left: 5px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    /* flex wrap permet le retour à la ligne */
    flex-wrap: wrap;
    gap: 20px;
}

.product-list h3 {
    color: #003366;
}

.product-item {
    background-color: #f9f9f9;
    border: 2px solid #003366;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 10px black;
    /* Animation */
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item h3 {
    font-size: 1.5em;
    margin: 15px 0;
}

.product-item .button {
    background-color: #FF9900;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.product-item .button:hover {
    background-color: #c47602;
}

/* Pied de Page */
footer {
    border-radius: 0 0 10px 10px;
    background: linear-gradient(to bottom, #E0E0E0, #003366 25%);
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
}



/* Pour les tablettes (largeur max de 768px) */
@media (max-width: 768px) {

    /* En-tête */
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    /* Produits */
    .product-item {
        width: 45%;
        /* Deux produits côte à côte */
    }
}

/* Pour les mobiles (largeur max de 480px) */
@media (max-width: 480px) {

    /* En-tête */
    header .container {
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    /* Section Hero */
    .hero h2 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .cta-button {
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    /* Produits */
    .product-item {
        width: 90%;
        /* Un prduit par ligne */
        margin: 0 auto;
    }

    /* Pied de page */
    footer ul {
        flex-direction: column;
        gap: 10px;
    }

}

/* ---------------------------------------------------------------------------------- Page 2 --------------------------------------------------------------------------------------*/

.hero2 {
    background: linear-gradient(to top, #E0E0E0, #003366 100%);
    text-align: center;
    padding: 40px 20px 15px 20px;
}

.hero2 h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero2 p {
    font-size: 1.2em;
    margin-bottom: 20px;
}



/* ---------------------------------------------------------------------------------- Page 3 --------------------------------------------------------------------------------------*/

#log-post-details {
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #005c91;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
}

#log-post-details:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 15px black;
}

#auteur {
    font-style: oblique;
}

#compteur-coms {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}

#contenu-post {
    font-size: 1.2em;
    font-style: italic;
}

#log-post-details ul {
    list-style: none;
    display: flex;
    text-align: start;
    gap: 15px;
    padding: 0px;
}

#log-post-details li {
    border: 1px solid;
    padding: 5px;

}

#delete-post {
    padding: 10px 20px;
    color: white;
    background-color: red;
    border-radius: 10px;
}

#delete-post:hover {
    background-color: #810000;
}

/* ---------------------------------------------------------------------------------- Page 4 --------------------------------------------------------------------------------------*/
#Formulaire {
    text-align: center;
    padding: 20px 0;
}

input,
textarea,
select {
    margin: 20px 0 20px 0;
}

label {
    font-size: 1.4em;
    font-style: italic;
}

#UserID,
#body {
    width: 5rem;
}

#titre {
    height: 2rem;
    width: 20rem;
}

#body:focus {
    height: 12rem;
    width: 50rem;
}

#buttonSubmit {
    border-radius: 5px;
    background-color: #FF9900;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
}

#buttonSubmit:hover {
    background-color: #c47602;
}

#confirmationMessage {
    display: none;
    color: green;
    font-size: 0.9em;
}

#error {
    display: none;
    color: red;
    font-size: 0.9em;
}

.icon {
    animation: flip 2s infinite linear;
    animation-play-state: running;
}

.icon:hover {
    animation-play-state: paused;
}